/* Сброс стилей и базовые настройки */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Включаем отступы и границы в ширину и высоту */
}

html,
body {
  height: 100%; /* Устанавливаем высоту для html и body */
  margin: 0;
  overflow-x: hidden; /* Предотвращаем горизонтальную прокрутку */
  scroll-behavior: smooth;
}

body {
  overflow-y: auto; /* Разрешаем вертикальную прокрутку при необходимости */
}

.navbar-info {
  width: 100%;
  height: 10%;
  background-color: rgb(240, 240, 240);
  display: flex;
  align-items: center;
  justify-content: space-between; /* Распределяем элементы */
  padding: 20px;
}

.img-block {
  display: flex;
  gap: 20px;
}

.img-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: auto;
}

.block-container {
  display: flex;
  gap: 20px;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.img-icon {
  width: 20px;
  height: 20px;
}

.style-a {
  margin-left: 5px;
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.style-a:hover {
  color: rgb(82, 81, 81);
}

.navbar-categories {
  width: 100%;
  height: 10%;
  background-color: rgb(230, 230, 230);
  display: flex;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center;
}

.block-categories {
  display: flex;
  justify-content: center; /* Горизонтальное центрирование */
  align-items: center;
  gap: 25px; /* Уменьшаем расстояние между элементами */
}

.style-a-categories {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: none;
  color: black;
}

.style-a-categories:hover {
  color: rgb(100, 100, 100);
}

.img-background {
  width: 100%;
  height: 80vh;
  background-image: url(img/main_wood.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont-info {
  width: 100%;
  max-width: 54%;
  height: 52%;
  padding: 2%;
  background-color: rgba(1, 1, 1, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}

.text-info-main {
  margin-top: 5%;
  font-size: 50px;
  color: white;
}

.text-info-small {
  text-align: center;
  margin-top: 2%;
  font-size: 25px;
  color: white;
}

.products-background {
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  background-size: cover;
  /* background-position: center;
  background-repeat: no-repeat; */
  display: flex;
  flex-direction: column; /* Добавляем flex-колонку, чтобы элементы располагались вертикально */
  align-items: center; /* Центрирование по горизонтали */
  padding: 0px;
}

.product-text {
  font-size: 30px; /* Задайте желаемый размер шрифта */
  margin-top: 40px;
}

.product-text-additional {
  font-size: 20px; /* Задайте желаемый размер шрифта */
  margin-top: 10px;
}

.div-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  gap: 80px;
}

.card {
  width: 300px;
  height: 400px;
  background-color: whitesmoke;
  border-radius: 5%;
  box-shadow: 0 0 10px 10px rgba(98, 98, 98, 0.1);
  text-align: center; /* Центрирование текста по горизонтали */
  padding: 20px; /* Добавляем внутренние отступы */
  position: relative; /* Для возможности абсолютного позиционирования внутри */
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.pr-text-main {
  font-size: 30px;
  margin-top: 5px; /* Отступ между заголовком и описанием */
}

.pr-text-description {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.parametr-img {
  width: 180px;
  height: 180px;
  margin: 0 auto; /* Центрируем изображение по горизонтали */
}

.hover-image-scale {
  display: inline-block;
}

.hover-image-scale img {
  transition: 1.5s;
  display: block;
  margin: 0 auto; /* Центрируем изображение по горизонтали */
}

.hover-image-scale img:hover {
  transform: scale(1.2);
}

.extra-text {
  font-size: 15px;
  margin-top: 20px; /* Отступ между заголовком и описанием */
}

.product-text-additional-end {
  font-size: 20px; /* Задайте желаемый размер шрифта */
  text-align: center; /* Центрирование текста внутри элемента */
  margin-top: 40px;
}

.info-company-background {
  width: 100%;
  height: 100vh;
  background-color: rgb(7, 59, 17);
  display: flex;
  justify-content: center;
}

.info-company-text {
  font-size: 30px; /* Задайте желаемый размер шрифта */
  margin-top: 40px;
  color: white;
}

/* Медиазапросы для устройств с шириной экрана 1060px и меньше */
@media (max-width: 1070px) {
  .div-cards {
    flex-direction: row; /* Горизонтальное расположение карточек */
    flex-wrap: wrap; /* Разрешаем перенос карточек на следующую строку */
    justify-content: center; /* Центрируем карточки по горизонтали */
    gap: 20px; /* Увеличиваем расстояние между карточками */
    margin-top: 30px; /* Увеличиваем верхний отступ */
  }

  .card {
    width: 45%; /* Устанавливаем ширину карточек для размещения двух в строке */
    height: auto; /* Автоматическая высота */
    border-radius: 15px; /* Немного уменьшаем радиус */
    padding: 15px; /* Уменьшаем внутренние отступы */
    transition: all 0.3s ease; /* Плавный переход для изменения размера и отступов */
  }

  .pr-text-main {
    font-size: 26px; /* Уменьшаем размер шрифта заголовка */
  }

  .pr-text-description {
    font-size: 18px; /* Уменьшаем размер шрифта описания */
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .parametr-img {
    width: 160px; /* Уменьшаем размер изображения */
    height: 160px;
  }

  .extra-text {
    font-size: 16px; /* Уменьшаем размер шрифта дополнительного текста */
    margin-top: 15px; /* Уменьшаем верхний отступ */
  }
}

/* Медиазапросы для устройств с шириной экрана 768px и меньше */
@media (max-width: 768px) {
  .navbar-info {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .block-container {
    align-items: flex-start;
    gap: 25px;
  }

  .img-logo {
    width: 150px;
  }

  .style-a {
    font-size: 15px;
  }

  .img-icon {
    width: 15px;
    height: 15px;
  }

  .navbar-categories {
    height: auto; /* Автоматическая высота для мобильных устройств */
    padding: 10px 0; /* Добавляем вертикальные отступы */
  }

  .block-categories {
    flex-direction: column;
    gap: 10px;
  }

  .style-a-categories {
    font-size: 16px; /* Уменьшаем шрифт для мобильных устройств */
  }

  .cont-info {
    width: 100%; /* Уменьшаем ширину на мобильных устройствах */
    max-width: 60%; /* Ограничиваем максимальную ширину */
    height: 42%;
  }

  .div-cards {
    flex-direction: row; /* Горизонтальное расположение карточек */
    flex-wrap: wrap; /* Разрешаем перенос карточек на следующую строку */
    justify-content: center; /* Центрируем карточки по горизонтали */
    gap: 10px; /* Уменьшаем расстояние между карточками */
    margin-top: 20px; /* Уменьшаем верхний отступ */
  }

  .card {
    width: 45%; /* Устанавливаем ширину карточек для размещения двух в строке */
    height: auto; /* Автоматическая высота */
    border-radius: 10%; /* Немного уменьшаем радиус */
    padding: 15px; /* Уменьшаем внутренние отступы */
  }

  .pr-text-main {
    font-size: 24px; /* Уменьшаем размер шрифта заголовка */
  }

  .pr-text-description {
    font-size: 16px; /* Уменьшаем размер шрифта описания */
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .parametr-img {
    width: 140px; /* Уменьшаем размер изображения */
    height: 140px;
  }

  .extra-text {
    font-size: 14px; /* Уменьшаем размер шрифта дополнительного текста */
    margin-top: 15px; /* Уменьшаем верхний отступ */
  }
}

/* Медиазапросы для устройств с шириной экрана 480px и меньше */
@media (max-width: 480px) {
  .img-logo {
    width: 50px; /* Уменьшаем логотип еще больше */
  }

  .style-a {
    font-size: 14px;
  }

  .img-icon {
    width: 12px;
    height: 12px;
  }

  .style-a-categories {
    font-size: 14px; /* Еще больше уменьшаем шрифт */
  }

  .cont-info {
    width: 100%; /* Уменьшаем ширину на мобильных устройствах */
    max-width: 60%; /* Ограничиваем максимальную ширину */
    height: 42%;
  }

  .div-cards {
    flex-direction: column; /* Возвращаем вертикальное расположение на очень маленьких экранах */
    align-items: center;
    gap: 15px; /* Увеличиваем расстояние между карточками */
  }

  .card {
    width: 90%; /* Уменьшаем ширину карточек */
    padding: 10px; /* Уменьшаем внутренние отступы */
  }

  .pr-text-main {
    font-size: 20px; /* Уменьшаем размер шрифта заголовка */
  }

  .pr-text-description {
    font-size: 14px; /* Уменьшаем размер шрифта описания */
  }

  .parametr-img {
    width: 120px; /* Уменьшаем размер изображения */
    height: 120px;
  }

  .extra-text {
    font-size: 12px; /* Уменьшаем размер шрифта дополнительного текста */
  }
}
