* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-y: auto; /* Разрешаем вертикальную прокрутку при необходимости */
}

.navbar-info {
  width: 100%;
  height: 10%;
  background-color: rgb(240, 240, 240);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.img-block {
  display: flex;
  gap: 20px;
}

.img-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: auto;
}

.block-container {
  display: flex;
  gap: 20px;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.img-icon {
  width: 20px;
  height: 20px;
}

.style-a {
  font-family: "Times New Roman", Times, serif;
  margin-left: 5px;
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.style-a:hover {
  color: rgb(82, 81, 81);
}

.navbar-categories {
  width: 100%;
  height: 10%;
  background-color: rgb(230, 230, 230);
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.style-a-categories {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: none;
  color: black;
}

.style-a-flag {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: none;
  color: black;
}
.style-a-categories:hover {
  color: rgb(119, 118, 118);
}

.img-background {
  width: 100%;
  height: 80vh;
  background-image: url(img/main_wood.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont-info {
  width: 100%;
  max-width: 54%;
  height: 45%;
  padding: 2%;
  background-color: rgba(1, 1, 1, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.text-info-calabria {
  font-family: "Times New Roman", Times, serif;
  font-size: 45px;
  color: white;
}

.text-info-small {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin-top: 1%;
  font-size: 23px;
  color: rgb(223, 223, 223);
}

.btn-cont-info {
  font-family: "Times New Roman", Times, serif;
  width: 25%;
  margin-top: 3%;
  height: auto;
  border-radius: 25px;
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border: none;
  background-color: rgb(255, 255, 255);
  color: black;
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
}

.btn-cont-info:hover {
  background-color: rgb(197, 196, 196);
}

.products-background {
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: 2px;
}

.product-text {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 8px;
}

.product-text-additional {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}

.div-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  gap: 80px;
}

.card {
  width: 300px;
  height: auto;
  background-color: whitesmoke;
  border-radius: 5%;
  box-shadow: 0 0 10px 10px rgba(98, 98, 98, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.pr-text-main {
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
}

.pr-text-description {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  color: rgb(119, 117, 117);
  margin-top: 2px;
}

.parametr-img {
  width: 200px;
  height: 170px;
}

.hover-image-scale {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hover-image-scale img {
  transition: 1.5s;
  display: block;
}

.hover-image-scale img:hover {
  transform: scale(1.15);
}

.text-price-img {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  color: rgb(119, 117, 117);
  margin-bottom: 15px;
}

.button-characteristic {
  width: 180px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(39, 52, 38);
  color: white;
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 10px;
  border-radius: 25px;
  border: none;
}

.button-characteristic:hover {
  background-color: rgb(66, 88, 64);
  font-size: 15px;
}

.product-text-additional-end {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  text-align: center;
  margin-top: 40px;
}

.color-href-price {
  color: rgb(0, 0, 0);
}

.info-company-background {
  width: 100%;
  height: 100vh;
  background-image: url(img/NNNPNG.png);
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.info-company-text {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  margin-top: 30px;
  color: white;
}

.div-company-text {
  width: 80%;
  margin-top: 20px;
  padding: 20px 25px;
  background-color: rgba(82, 82, 82, 0.6);
  border-radius: 25px;
}

.main-company-text {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  text-align: justify;
  /* color: rgb(215, 215, 215); */
  color: white;
}

.block-company {
  display: flex;
  justify-content: center;
  width: 80%;
  height: auto;
  margin-top: 25px;
  gap: 5%;
}

.div-company {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.description-company-text {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  color: rgb(227, 227, 227);
}

.img-company {
  width: 120px;
  height: 120px;
}

.div-card-company {
  display: flex;
  justify-content: center;
  width: 90%;
  margin-top: 30px;
  height: 35%;
  gap: 40px;
}

.card-company {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 220px;
  height: 100%;
  background-color: rgba(82, 82, 82, 0.6);
  border-radius: 5%;
  padding: 10px;
  position: relative;
}

.img-card-company {
  width: 50px;
  height: 50px;
  margin-top: 5px;
}

.title-card-company {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 16px;
  margin-top: 5px;
  color: white;
}

.div-text-company {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.main-text-company {
  font-family: "Times New Roman", Times, serif;
  width: 100%;
  height: 100%;
  font-size: 15px;
  margin-top: 5px;
  color: rgb(203, 201, 201);
}

.info-contacts-background {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(39, 52, 38);
}

.title-name-contacts {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
}

.info-address1 {
  width: 70%;
  height: auto;
  background-color: rgba(1, 1, 1, 0.1);
  border-radius: 15px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  margin-bottom: 40px;
}

.info-address2 {
  width: 70%;
  height: auto;
  background-color: rgba(1, 1, 1, 0.1);
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.extra-address2 {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.text-info-main {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 5px;
  color: whitesmoke;
}

.text-info-extra {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  margin-bottom: 5px;
  text-decoration: none;
  color: rgb(205, 205, 205);
}

.map-container {
  width: 70%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.main-text-map {
  font-family: "Times New Roman", Times, serif;
  color: white;
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 5px;
}

.text-map {
  color: white;
  font-size: 25px;
  margin-top: 20px;
}

.text-map-extra {
  font-family: "Times New Roman", Times, serif;
  color: rgb(205, 205, 205);
  font-size: 15px;
  margin-top: 5px;
}

.div-extra-text {
  width: 95%;
  height: auto;
  display: flex;
  text-align: justify;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5%;
  background-color: white;
  border-radius: 8px;
  border: none;
  outline: none;
  width: 70%;
}

.title-name-dialog {
  margin-bottom: 1%;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.description-name-dialog {
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(78, 78, 78);
}

.backCall {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: chocolate;
}

body {
  font-family: Arial, sans-serif;
}

.fixed-element {
  position: fixed;
  bottom: 20px; /* Отступ от нижней границы окна */
  right: 20px; /* Отступ от правой границы окна */
  background-color: #4caf50; /* Цвет фона */
  color: white; /* Цвет текста */
  padding: 10px 20px; /* Внутренние отступы */
  border-radius: 5px; /* Скругленные углы */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-height: 700px) {
  .div-company-text {
    margin-top: 20px;
    padding: 15px 20px;
  }

  .main-company-text {
    font-size: 17px;
  }

  .block-company {
    margin-top: 20px;
  }

  .description-company-text {
    margin-top: 8px;
    font-size: 17px;
  }

  .img-company {
    width: 100px;
    height: 100px;
  }

  .div-card-company {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 30px;
    height: 37%;
  }

  .card-company {
    width: 220px;
    height: 100%;
    padding: 10px;
  }

  .img-card-company {
    width: 50px;
    height: 50px;
    margin-top: 5px;
  }

  .title-card-company {
    font-size: 14px;
    margin-top: 5px;
  }

  .main-text-company {
    font-size: 13px;
    margin-top: 5px;
  }

  .text-info-main {
    font-size: 25px;
  }

  .text-info-extra {
    font-size: 18px;
  }
}

@media (max-width: 1250px) {
  .text-info-calabria {
    font-size: 42px;
  }

  .text-info-small {
    font-size: 21px;
  }
  .div-cards {
    margin-top: 30px;
    gap: 60px;
  }
  .text-info-main {
    font-size: 21px;
    margin-bottom: 5px;
    color: whitesmoke;
  }

  .text-info-extra {
    font-size: 14px;
    margin-top: 5px;
    color: rgb(205, 205, 205);
  }

  .div-company-text {
    width: 90%;
    margin-top: 25px;
    padding: 15px 20px;
  }

  .main-company-text {
    font-size: 16px;
  }

  .block-company {
    margin-top: 25px;
  }

  .description-company-text {
    margin-top: 10px;
    font-size: 16px;
  }

  .img-company {
    width: 110px;
    height: 110px;
  }

  .div-card-company {
    width: 90%;
    margin-top: 30px;
    height: 35%;
  }

  .img-card-company {
    width: 45px;
    height: 45px;
    margin-top: 5px;
  }

  .title-card-company {
    font-size: 16px;
    margin-top: 5px;
  }

  .main-text-company {
    font-size: 13px;
    margin-top: 7px;
  }

  .title-name-contacts {
    margin-top: 30px;
    font-size: 25px;
  }

  .main-text-map {
    color: white;
    font-size: 21px;
    margin-top: 25px;
    margin-bottom: 2px;
  }

  .text-map {
    font-size: 21px;
    margin-top: 15px;
    margin-bottom: 0px;
  }

  .text-map-extra {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
}

@media (max-width: 1150px) {
  .div-company-text {
    width: 90%;
    margin-top: 25px;
    padding: 15px 20px;
  }

  .main-company-text {
    font-size: 14px;
  }

  .block-company {
    margin-top: 25px;
  }

  .img-company {
    width: 95px;
    height: 95px;
  }

  .description-company-text {
    margin-top: 10px;
    font-size: 14px;
  }

  .div-card-company {
    width: 90%;
    margin-top: 30px;
    height: 35%;
  }

  .card-company {
    width: 220px;
    height: 100%;
    padding: 10px;
  }

  .img-card-company {
    width: 42px;
    height: 42px;
    margin-top: 5px;
  }

  .title-card-company {
    font-size: 14px;
    margin-top: 5px;
  }

  .main-text-company {
    font-size: 13px;
    margin-top: 7px;
  }
}

@media (max-width: 1080px) {
  .text-info-calabria {
    font-size: 40px;
  }

  .text-info-small {
    font-size: 20px;
  }
  .div-cards {
    margin-top: 30px;
    gap: 50px;
  }
  .card {
    width: 270px;
  }

  .pr-text-main {
    font-size: 25px;
  }

  .pr-text-description {
    font-size: 18px;
  }

  .parametr-img {
    width: 170px;
    height: 130px;
  }
  .hover-image-scale {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .text-price-img {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .button-characteristic {
    width: 160px;
    height: 35px;
    font-size: 12px;
    margin-bottom: 10px;
  }

  .button-characteristic:hover {
    background-color: rgb(66, 88, 64);
    font-size: 13px;
  }

  .pr-text-main {
    font-size: 26px;
  }

  .pr-text-description {
    font-size: 18px;
  }

  .parametr-img {
    width: 160px;
    height: 160px;
  }

  .extra-text {
    font-size: 16px;
    margin-top: 15px;
  }

  .div-company-text {
    width: 90%;
    margin-top: 25px;
    padding: 15px 20px;
  }

  .main-company-text {
    font-size: 14px;
  }

  .block-company {
    margin-top: 25px;
    width: 85%;
  }

  .img-company {
    width: 95px;
    height: 95px;
  }

  .description-company-text {
    margin-top: 10px;
    font-size: 14px;
  }

  .div-card-company {
    width: 90%;
    margin-top: 30px;
    height: 35%;
  }

  .card-company {
    width: 220px;
    height: 100%;
    border-radius: 5%;
    padding: 10px;
  }

  .img-card-company {
    width: 42px;
    height: 42px;
    margin-top: 5px;
  }

  .title-card-company {
    font-size: 14px;
    margin-top: 5px;
  }

  .main-text-company {
    font-size: 13px;
    margin-top: 7px;
  }

  .title-name-dialog {
    margin-bottom: 1%;
    font-size: 18px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }

  .description-name-dialog {
    font-size: 13px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: rgb(78, 78, 78);
  }
}

@media (max-width: 980px) {
  .text-info-calabria {
    font-size: 38px;
  }

  .text-info-small {
    font-size: 19px;
  }

  .btn-cont-info {
    font-size: 13px;
  }
  .div-cards {
    margin-top: 30px;
    gap: 40px;
  }
  .card {
    width: 230px;
  }

  .pr-text-main {
    font-size: 20px;
  }

  .pr-text-description {
    font-size: 15px;
  }

  .parametr-img {
    width: 150px;
    height: 110px;
  }
  .hover-image-scale {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .text-price-img {
    font-size: 15px;
    margin-bottom: 5px;
  }

  .button-characteristic {
    width: 140px;
    height: 30px;
    font-size: 11px;
    margin-bottom: 7px;
  }

  .button-characteristic:hover {
    background-color: rgb(66, 88, 64);
    font-size: 11.5px;
  }

  .info-address1 {
    margin-bottom: 25px;
  }

  .text-info-main {
    font-size: 14.5px;
    margin-bottom: 5px;
    color: whitesmoke;
  }

  .text-info-extra {
    font-size: 13px;
    margin-top: 5px;
    color: rgb(205, 205, 205);
  }

  .info-company-text {
    font-size: 30px;
    margin-top: 25px;
  }

  .div-company-text {
    width: 90%;
    margin-top: 25px;
    padding: 10px 15px;
  }

  .main-company-text {
    font-size: 14px;
  }

  .block-company {
    width: 85%;
    margin-top: 20px;
    gap: 5%;
  }

  .img-company {
    width: 85px;
    height: 85px;
  }

  .description-company-text {
    margin-top: 10px;
    font-size: 14px;
  }

  .div-card-company {
    width: 90%;
    margin-top: 25px;
    height: 35%;
    gap: 4%;
  }

  .card-company {
    width: 200px;
    height: 100%;
    border-radius: 5%;
    padding: 10px;
    margin-bottom: 20px;
  }

  .img-card-company {
    width: 38px;
    height: 38px;
    margin-top: 5px;
  }

  .title-card-company {
    font-size: 13px;
    margin-top: 5px;
  }

  .main-text-company {
    font-size: 12px;
    margin-top: 7px;
  }

  .title-name-contacts {
    margin-top: 30px;
    font-size: 25px;
  }

  .main-text-map {
    color: white;
    font-size: 14.5px;
    margin-top: 25px;
    margin-bottom: 2px;
  }

  .text-map {
    font-size: 14.5px;
    margin-top: 15px;
    margin-bottom: 0px;
  }

  .text-map-extra {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .title-name-dialog {
    margin-bottom: 1%;
    font-size: 16px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }

  .description-name-dialog {
    font-size: 11px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: rgb(78, 78, 78);
  }

  .div-extra-text {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

@media (max-width: 820px) {
  .navbar-info {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .block-container {
    margin-top: 10px;
    gap: 25px;
  }

  .img-logo {
    width: 140px;
  }

  .style-a {
    font-size: 12px;
  }

  .img-icon {
    width: 15px;
    height: 15px;
  }

  .navbar-categories {
    height: auto;
    padding: 14px;
  }

  .block-categories {
    gap: 10px;
  }

  .style-a-categories {
    font-size: 13px;
  }

  .style-a-flag {
    font-size: 13px;
  }

  .cont-info {
    width: 100%;
    max-width: 70%;
    height: 42%;
    padding: 3%;
  }

  .btn-cont-info {
    font-size: 11px;
    width: 25%;
  }

  .text-info-calabria {
    font-size: 36px;
  }

  .text-info-small {
    font-size: 17px;
  }

  .product-text {
    font-size: 22px;
    margin-top: 15px;
  }

  .product-text-additional {
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
  }

  .div-cards {
    gap: 30px; /* Уменьшаем расстояние между карточками */
    margin-top: 30px; /* Уменьшаем верхний отступ */
  }

  .card {
    width: 200px; /* Устанавливаем ширину карточек для размещения двух в строке */
    padding: 15px; /* Уменьшаем внутренние отступы */
  }

  .pr-text-main {
    font-size: 18px; /* Уменьшаем размер шрифта заголовка */
  }

  .pr-text-description {
    font-size: 14px; /* Уменьшаем размер шрифта описания */
  }
  .parametr-img {
    width: 140px; /* Уменьшаем размер изображения */
    height: 100px;
  }

  .text-price-img {
    font-size: 15px;
    margin-bottom: 5px;
  }

  .button-characteristic {
    width: 130px;
    height: 30px;
    font-size: 11px;
    margin-bottom: 7px;
  }

  .extra-text {
    font-size: 12px; /* Уменьшаем размер шрифта дополнительного текста */
    margin-top: 8px; /* Уменьшаем верхний отступ */
  }
  .product-text-additional-end {
    font-size: 14px;
    margin-top: 25px;
  }

  .info-company-text {
    font-size: 22px;
    margin-top: 25px;
  }

  .div-company-text {
    width: 90%;
    margin-top: 25px;
    padding: 10px 15px;
  }

  .main-company-text {
    font-size: 12px;
  }

  .block-company {
    width: 85%;
    margin-top: 20px;
    gap: 5%;
  }

  .img-company {
    width: 80px;
    height: 80px;
  }

  .description-company-text {
    margin-top: 10px;
    font-size: 12px;
  }

  .div-card-company {
    width: 90%;
    margin-top: 20px;
    height: 35%;
    gap: 4%;
  }

  .card-company {
    width: 160px;
    height: 85%;
    padding: 10px;
  }

  .img-card-company {
    width: 36px;
    height: 36px;
    margin-top: 5px;
  }

  .title-card-company {
    font-size: 12px;
    margin-top: 5px;
  }

  .main-text-company {
    font-size: 11px;
    margin-top: 7px;
  }

  .title-name-contacts {
    font-size: 22px;
    margin-top: 25px;
  }

  .info-address1 {
    width: 90%;
    margin-bottom: 25px;
  }

  .info-address2 {
    width: 90%;
  }

  .text-info-main {
    font-size: 13px;
    margin-bottom: 2px;
  }

  .text-info-extra {
    font-size: 10px;
  }

  .extra-address2 {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
  }

  .map-container {
    width: 90%;
    height: 220px;
  }

  .main-text-map {
    color: white;
    font-size: 13px;
    margin-top: 25px;
  }

  .text-map {
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: 0px;
  }

  .text-map-extra {
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .div-extra-text {
    width: 93%;
    margin-top: 15px;
    margin-bottom: 40px;
  }

  .title-name-dialog {
    margin-bottom: 1%;
    font-size: 15px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }

  .description-name-dialog {
    font-size: 11px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: rgb(78, 78, 78);
  }
}

@media (max-width: 768px) {
  .navbar-info {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .block-container {
    margin-top: 10px;
    gap: 25px;
  }

  .img-logo {
    width: 140px;
  }

  .style-a {
    font-size: 12px;
  }

  .img-icon {
    width: 15px;
    height: 15px;
  }

  .navbar-categories {
    height: auto; /* Автоматическая высота для мобильных устройств */
    padding: 14px; /* Добавляем вертикальные отступы */
  }

  .block-categories {
    gap: 10px;
  }

  .style-a-categories {
    font-size: 13px; /* Уменьшаем шрифт для мобильных устройств */
  }

  .style-a-flag {
    font-size: 13px; /* Уменьшаем шрифт для мобильных устройств */
  }
}

@media (max-width: 720px) {
  .text-info-calabria {
    font-size: 34px;
  }

  .btn-cont-info {
    font-size: 12px;
    width: 30%;
  }

  .text-info-small {
    margin-top: 0.7%;
    font-size: 16px;
  }

  .products-background {
    height: 115%;
  }

  .div-cards {
    flex-direction: row; /* Горизонтальное расположение карточек */
    flex-wrap: wrap; /* Разрешаем перенос карточек на следующую строку */
    justify-content: center; /* Центрируем карточки по горизонтали */
    gap: 20px; /* Уменьшаем расстояние между карточками */
    margin-top: 30px; /* Уменьшаем верхний отступ */
  }
  .text-info-main {
    font-size: 10px;
    margin-bottom: 0px;
  }

  .text-info-extra {
    font-size: 10px;
  }

  .info-company-text {
    font-size: 22px;
    margin-top: 25px;
  }

  .div-company-text {
    width: 95%;
    margin-top: 25px;
    padding: 10px 15px;
  }

  .main-company-text {
    font-size: 12px;
  }

  .block-company {
    width: 85%;
    margin-top: 20px;
    gap: 5%;
  }

  .img-company {
    width: 80px;
    height: 80px;
  }

  .description-company-text {
    margin-top: 10px;
    font-size: 12px;
  }

  .div-card-company {
    width: 90%;
    margin-top: 20px;
    height: 35%;
    gap: 4%;
  }

  .card-company {
    width: 150px;
    height: 85%;
    border-radius: 5%;
    padding: 10px;
  }

  .img-card-company {
    width: 36px;
    height: 36px;
    margin-top: 5px;
  }

  .title-card-company {
    font-size: 11px;
    margin-top: 5px;
  }

  .main-text-company {
    font-size: 10px;
    margin-top: 7px;
  }
}

@media (max-width: 550px) {
  .info-company-text {
    font-size: 22px;
    margin-top: 25px;
  }

  .div-company-text {
    width: 95%;
    margin-top: 25px;
    padding: 10px 15px;
  }

  .main-company-text {
    font-size: 10px;
  }

  .block-company {
    width: 85%;
    margin-top: 20px;
    gap: 5%;
  }

  .img-company {
    width: 75px;
    height: 75px;
  }

  .description-company-text {
    margin-top: 10px;
    font-size: 10px;
  }

  .div-card-company {
    width: 90%;
    margin-top: 20px;
    height: 35%;
    gap: 4%;
  }

  .card-company {
    width: 150px;
    height: 75%;
    border-radius: 5%;
    padding: 10px;
  }

  .img-card-company {
    width: 32px;
    height: 32px;
    margin-top: 5px;
  }

  .title-card-company {
    font-size: 10px;
    margin-top: 5px;
  }

  .main-text-company {
    font-size: 9px;
    margin-top: 7px;
  }
}

@media (max-width: 499px) {
  .navbar-info {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .block-container {
    margin-top: 10px;
    gap: 25px;
  }

  .img-logo {
    width: 140px;
  }

  .style-a {
    font-size: 12px;
  }

  .img-icon {
    width: 15px;
    height: 15px;
  }

  .navbar-categories {
    height: auto; /* Автоматическая высота для мобильных устройств */
    padding: 14px; /* Добавляем вертикальные отступы */
  }

  .block-categories {
    gap: 10px;
  }

  .style-a-categories {
    font-size: 12px; /* Уменьшаем шрифт для мобильных устройств */
  }

  .style-a-flag {
    font-size: 12px; /* Уменьшаем шрифт для мобильных устройств */
  }

  .cont-info {
    width: 100%; /* Уменьшаем ширину на мобильных устройствах */
    max-width: 80%; /* Ограничиваем максимальную ширину */
    height: 25%;
  }

  .btn-cont-info {
    font-size: 11p;
  }

  .text-info-calabria {
    font-size: 23px;
  }

  .text-info-small {
    font-size: 15px;
  }

  .products-background {
    height: auto;
  }

  .product-text {
    font-size: 20px;
    margin-top: 12px;
  }

  .product-text-additional {
    font-size: 13px;
    margin-top: 0px;
  }

  .div-cards {
    flex-direction: row; /* Горизонтальное расположение карточек */
    flex-wrap: wrap; /* Разрешаем перенос карточек на следующую строку */
    justify-content: center; /* Центрируем карточки по горизонтали */
    gap: 30px; /* Уменьшаем расстояние между карточками */
    margin-top: 20px; /* Уменьшаем верхний отступ */
  }

  .card {
    width: 42%; /* Устанавливаем ширину карточек для размещения двух в строке */
    height: auto; /* Автоматическая высота */
    padding: 12px; /* Уменьшаем внутренние отступы */
  }

  .pr-text-main {
    font-size: 16px; /* Уменьшаем размер шрифта заголовка */
  }

  .pr-text-description {
    font-size: 12px; /* Уменьшаем размер шрифта описания */
  }

  .parametr-img {
    width: 120px; /* Уменьшаем размер изображения */
    height: 100px;
  }

  .text-price-img {
    font-size: 12px;
  }

  .button-characteristic {
    width: 125px;
    height: 28px;
    font-size: 11px;
    margin-bottom: 6px;
  }

  .info-company-text {
    font-size: 20px;
    margin-top: 22px;
  }

  .extra-text {
    font-size: 12px; /* Уменьшаем размер шрифта дополнительного текста */
    margin-top: 8px; /* Уменьшаем верхний отступ */
  }
  .product-text-additional-end {
    font-size: 13px;
    margin-top: 18px;
  }

  .info-company-background {
    height: 100%;
  }

  .info-contacts-background {
    height: 110%;
  }

  .info-company-text {
    font-size: 22px;
    margin-top: 22px;
  }

  .div-company-text {
    width: 95%;
    margin-top: 22px;
    border-radius: 15px;
    padding: 10px 15px;
  }

  .main-company-text {
    font-size: 10px;
  }

  .block-company {
    width: 85%;
    margin-top: 20px;
    gap: 5%;
  }

  .img-company {
    width: 70px;
    height: 70px;
  }

  .description-company-text {
    margin-top: 10px;
    font-size: 10px;
  }

  .div-card-company {
    width: 90%;
    margin-top: 20px;
    height: 35%;
    gap: 2%;
  }

  .card-company {
    width: 32%;
    height: 68%;
    border-radius: 5%;
    padding: 10px;
  }

  .img-card-company {
    width: 28px;
    height: 28px;
    margin-top: 2px;
  }

  .title-card-company {
    font-size: 9px;
    margin-top: 7px;
  }

  .main-text-company {
    font-size: 9px;
    margin-top: 2px;
  }

  .title-name-contacts {
    font-size: 20px;
    margin-top: 22px;
    margin-bottom: 22px;
  }

  .info-address1 {
    width: 90%;
    height: auto;
    margin-bottom: 20px;
    gap: 5%;
    padding: 15px;
  }

  .info-address2 {
    width: 90%;
    height: auto;
    padding: 15px;
  }

  .text-info-main {
    font-size: 10px;
    margin-bottom: 3px;
  }

  .text-info-extra {
    font-size: 10px;
    margin-top: 2px;
  }
  .map-container {
    width: 90%;
    height: 220px;
  }

  .main-text-map {
    font-size: 10px;
    margin-top: 20px;
  }

  .text-map {
    font-size: 10px;
    margin-top: 15px;
    margin-bottom: 0px;
  }

  .text-map-extra {
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  dialog {
    width: 70%;
    padding: 12px;
  }
  .title-name-dialog {
    margin-bottom: 1%;
    font-size: 14px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }

  .description-name-dialog {
    font-size: 10px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: rgb(78, 78, 78);
  }
}

@media (max-width: 400px) {
  .navbar-info {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .block-container {
    margin-top: 10px;
    gap: 25px;
  }

  .img-logo {
    width: 140px;
  }

  .style-a {
    font-size: 12px;
  }

  .img-icon {
    width: 15px;
    height: 15px;
  }

  .navbar-categories {
    height: auto; /* Автоматическая высота для мобильных устройств */
    padding: 12px; /* Добавляем вертикальные отступы */
  }

  .block-categories {
    gap: 8px;
  }

  .style-a-categories {
    font-size: 9px; /* Уменьшаем шрифт для мобильных устройств */
  }

  .style-a-flag {
    font-size: 9px; /* Уменьшаем шрифт для мобильных устройств */
  }

  .cont-info {
    width: 100%; /* Уменьшаем ширину на мобильных устройствах */
    max-width: 80%; /* Ограничиваем максимальную ширину */
    height: 25%;
  }

  .text-info-calabria {
    font-size: 30px;
  }

  .text-info-small {
    font-size: 14px;
  }

  .products-background {
    height: auto;
  }

  .product-text {
    font-size: 18px;
    margin-top: 10px;
  }

  .product-text-additional {
    font-size: 12px; /* Задайте желаемый размер шрифта */
    margin-top: 2px;
  }

  .div-cards {
    gap: 30px; /* Уменьшаем расстояние между карточками */
    margin-top: 20px; /* Уменьшаем верхний отступ */
  }

  .card {
    width: 42%; /* Устанавливаем ширину карточек для размещения двух в строке */
    height: auto; /* Автоматическая высота */
    padding: 12px; /* Уменьшаем внутренние отступы */
  }

  .hover-image-scale {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .parametr-img {
    width: 100px; /* Уменьшаем размер изображения */
    height: 80px;
  }

  .button-characteristic {
    width: 115px;
    height: 22px;
    font-size: 10px;
    margin-bottom: 6px;
  }

  .pr-text-main {
    font-size: 16px; /* Уменьшаем размер шрифта заголовка */
  }

  .pr-text-description {
    font-size: 10px; /* Уменьшаем размер шрифта описания */
  }

  .parametr-img {
    width: 120px; /* Уменьшаем размер изображения */
    height: 100px;
  }

  .text-price-img {
    font-size: 10px;
  }

  .extra-text {
    font-size: 12px; /* Уменьшаем размер шрифта дополнительного текста */
    margin-top: 8px; /* Уменьшаем верхний отступ */
  }
  .product-text-additional-end {
    font-size: 12px;
    margin-top: 18px;
  }

  .div-card-company {
    width: 90%;
    margin-top: 20px;
    height: 35%;
    gap: 2%;
  }

  .card-company {
    width: 32%;
    height: 70%;
    border-radius: 5%;
    padding: 10px;
  }

  .img-card-company {
    width: 28px;
    height: 28px;
    margin-top: 2px;
  }

  .title-card-company {
    font-size: 9px;
    margin-top: 7px;
  }

  .main-text-company {
    font-size: 8px;
    margin-top: 2px;
  }

  .title-name-contacts {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .info-address1 {
    width: 90%;
    height: auto;
    margin-bottom: 20px;
    gap: 5%;
  }

  .info-address2 {
    width: 90%;
    height: auto;
    margin-bottom: 10px;
  }

  .text-info-main {
    font-size: 8px;
    margin-bottom: 2px;
  }

  .text-info-extra {
    font-size: 8px;
  }
  .map-container {
    width: 90%;
    height: 220px;
  }

  .main-text-map {
    font-size: 8px;
    margin-top: 20px;
  }

  .text-map {
    font-size: 8px;
    margin-top: 15px;
    margin-bottom: 0px;
  }

  .text-map-extra {
    font-size: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
}

@media (max-height: 600px) {
  .navbar-info {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }
  .block-container {
    margin-top: 8px;
    gap: 25px;
  }
  .navbar-categories {
    height: 15%;
  }
  .cont-info {
    height: 55%;
  }
  .img-logo {
    width: 130px;
  }

  .main-company-text {
    font-size: 12px;
  }

  .description-company-text {
    font-size: 12px;
  }

  .card-company {
    width: 200px;
    height: 210px;
    border-radius: 5%;
    padding: 10px;
    margin-bottom: 20px;
  }

  .product-text-additional-end {
    font-size: 12px;
    margin-bottom: 20px;
  }

  .products-background {
    height: auto;
  }

  .info-company-background {
    height: auto;
  }

  .text-info-main {
    font-size: 10px;
  }

  .text-info-extra {
    font-size: 10px;
  }

  .text-map-extra {
    font-size: 11px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

@media (max-height: 420px) {
  .navbar-info {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }
  .block-container {
    margin-top: 8px;
    gap: 25px;
  }

  .text-info-main {
    font-size: 9px;
  }

  .text-info-extra {
    font-size: 9px;
  }
}

@media (max-width: 370px) {
  .cont-info {
    width: 100%; /* Уменьшаем ширину на мобильных устройствах */
    max-width: 80%; /* Ограничиваем максимальную ширину */
    height: 35%;
  }
  .main-company-text {
    font-size: 8px;
  }
  .description-company-text {
    margin-top: 8px;
    font-size: 8px;
  }
  .title-card-company {
    font-size: 8px;
    margin-top: 7px;
  }

  .main-text-company {
    font-size: 7px;
    margin-top: 2px;
  }
  .text-info-main {
    font-size: 7px;
    margin-bottom: 2px;
  }

  .text-info-extra {
    font-size: 7px;
  }
}
